<div class="wrapper">
  <app-dashboard class="reduced-dashboard"></app-dashboard>
  <app-sidebar class="sidebar"></app-sidebar>
</div>
<div class="create-job-container">
  <h2>Create Job</h2>
  <form (ngSubmit)="createJob()">
    <div class="form-group">
      <label for="jobTitle">Job Title</label>
      <input type="text" id="jobTitle" [(ngModel)]="jobDetails.jobTitle" name="jobTitle" required>
    </div>
    <div class="form-group">
      <label for="peopleNumber">Number of People</label>
      <input type="number" id="peopleNumber" [(ngModel)]="jobDetails.peopleNumber" name="peopleNumber" required>
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" id="location" [(ngModel)]="jobDetails.location" name="location" required>
    </div>
    <div class="form-group">
      <label for="jobType">Job Type</label>
      <select id="jobType" [(ngModel)]="jobDetails.jobType" name="jobType">
        <option value="FULL_TIME">Full Time</option>
        <option value="PART_TIME">Part Time</option>
        <option value="TEMPORARY">Temporary</option>
        <option value="INTERNSHIP">Internship</option>
        <option value="PERMANENT">Permanent</option>
      </select>
    </div>
    <div class="form-group">
      <label for="nbrHours">Number of Hours</label>
      <input type="number" id="nbrHours" [(ngModel)]="jobDetails.nbrHours" name="nbrHours" required>
    </div>
    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input type="date" id="startDate" [(ngModel)]="jobDetails.startDate" name="startDate" required>
    </div>
    <div class="form-group">
      <label for="salary">Salary</label>
      <input type="number" id="salary" [(ngModel)]="jobDetails.salary" name="salary" required>
    </div>
    <div class="form-group">
      <label for="description">Job Description</label>
      <textarea id="description" [(ngModel)]="jobDetails.description" name="description" required></textarea>
    </div>
    <button type="button" (click)="onButtonClicked()">Create Job</button>

  </form>
</div>
